### extend : it extends the list original by taking elements from other list/tuple/set/string (sequence datatypes)
### Here original list is modified

In [7]:
a=[1,2,3,4,5,6]
b=(7,8,9)
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a=[1,2,3,4,5,6]
b={7,8,9}
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 8, 9, 7]

In [9]:
a=[1,2,3,4,5,6]
b=[7,8,9]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a=[1,2,3,4,5,6]
b='Ash'
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 'A', 's', 'h']

## The job of extend can also be done through concatination but it creates new object instead of modifying original object

In [14]:
a=(1,2,3,4,5,6)
b=(7,8,9)
a+b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [15]:
a=[1,2,3,4,5,6]
b=[7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## insert() : To insert any value to a particular index

In [18]:
a=[1,2,3,4,5]
print(a.insert(2,'Ashish'))
print(a)

None
[1, 2, 'Ashish', 3, 4, 5]

## Removing from a list

1. pop : removes the element by index, by default it removes the last index, returns the deleted value
2. remove : removes the element by value instead of index, for multiple occurances it removes the first one

In [19]:
a=[1,2,3,4,5]
print(a.pop())
print(a)

5
[1, 2, 3, 4]

In [20]:
a=[1,2,3,4,5]
print(a.pop(0))
print(a)

1
[2, 3, 4, 5]

In [21]:
a=[1,2,300,4,5]
print(a.remove(300))
print(a)

None
[1, 2, 4, 5]

In [23]:
a=[1,2,300,4,300,5,300,300]
print(a.remove(300))
print(a)

None
[1, 2, 4, 300, 5, 300, 300]

### reverse

In [1]:
a=[1,2,3,4,5]
print(a.reverse())
print(a)

None
[5, 4, 3, 2, 1]

### sort

In [25]:
a=[4,1,7,2,0,9,1]     # sorting in ascending order
print(a.sort())
print(a)

None
[0, 1, 1, 2, 4, 7, 9]

In [26]:
a=[4,1,7,2,0,9,1]     # sorting in descending order
print(a.sort(reverse=True))
print(a)

None
[9, 7, 4, 2, 1, 1, 0]

### clear()

In [27]:
a=[4,1,7,2,0,9,1]    
print(a.clear())
print(a)

None
[]

### count()

In [29]:
a=[4,1,7,2,0,9,1,1,1]   
print(a.count(1))

4

## Aliasing()

In [30]:
lst1=[1,2,3,4,5]
lst2=lst1
print(id(lst1))
print(id(lst2))
lst2[2]=300
print(lst1)
print(lst1)

2617854590272
2617854590272
[1, 2, 300, 4, 5]
[1, 2, 300, 4, 5]

## shallow copy

In [33]:
lst1=[1,2,3,4,5]
lst2=lst1.copy()
print(id(lst1))
print(id(lst2))
lst2[2]=300
print(lst1)
print(lst2)

2617854529792
2617853139968
[1, 2, 3, 4, 5]
[1, 2, 300, 4, 5]

In [42]:
lst1=[1,2,3,[1,2,3],4,5]
lst2=lst1.copy()
print(id(lst1))
print(id(lst2))
lst2[3][2]=300
print(lst1)
print(lst2)
print('-------')
print(id(lst1[3]))
print(id(lst2[3]))

2617854590464
2617854590336
[1, 2, 3, [1, 2, 300], 4, 5]
[1, 2, 3, [1, 2, 300], 4, 5]
-------
2617854590016
2617854590016

## Deep copy

In [44]:
from copy import deepcopy
lst1=[1,2,3,[1,2,3],4,5]
lst2=deepcopy(lst1)
print(id(lst1))
print(id(lst2))
lst2[3][2]=300
print(lst1)
print(lst2)
print('-------')
print(id(lst1[3]))
print(id(lst2[3]))

2617854589568
2617853755968
[1, 2, 3, [1, 2, 3], 4, 5]
[1, 2, 3, [1, 2, 300], 4, 5]
-------
2617854550592
2617853756608

## range() : It gives a range of values   
## It is a datatype

In [47]:
print(range(5))                #  0 1 2 3 4 
print(type(range(5)))          # Last one is exclusive

range(0, 5)
<class 'range'>

In [48]:
print(range(2,6))             # 2 3 4 5

range(2, 6)

In [51]:
print(range(20,60,2))         # 20 22 24 26....58

range(20, 60, 2)

# for loops

In [59]:
for i in range(5):                 # SYNTAX
    print('Hi')                    
    print('World')                 # for <var> in <iterables> :  
                                   #      body                               indentation = 1tab = 4 spaces
                                   #      body                       strings,lists,tuples,sets,range are iterables

Hi
World
Hi
World
Hi
World
Hi
World
Hi
World

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
a='Ashish'
for i in a:
    print(i)

A
s
h
i
s
h

In [63]:
a=[1,4,2,5,3]
for i in a:
    print(i)

1
4
2
5
3

In [64]:
a=(1,4,2,5,3)
for i in a:
    print(i)

1
4
2
5
3

In [65]:
a={1,4,2,5,3}
for i in a:
    print(i)

1
2
3
4
5

In [66]:
a=[1,4,2,5,3]             # To print squares of all elements
for i in a:
    print(i**2)

1
16
4
25
9

In [74]:
a=['Ashish','Tikariha','Manikant']      # To reverse all elements of list
for i in a :
    print(i[::-1])

hsihsA
ahirakiT
tnakinaM

### A good code is one which can work on any kind of input, not hardcoded for specific inputs   
### Hardcoded codes dont serve the purpose of coding and straightaway rejected in interviews

In [1]:
# write a code which takes a list of integers as input and prints a list contaning cubes of each element

user_input=eval(input('Enter the list contaning only integers'))
b=[]
for i in user_input:
    b.append(i**3)
print(b)

Enter the list contaning only integers[1,2,3,4,5,10]
[1, 8, 27, 64, 125, 1000]

In [85]:
# write a code which takes a string containing multiple words as input and prints a string with each words reversed

a=input('Enter the string')
b=a.split()
for i in b:
    print(i[::-1],end=' ')

# This is a general code and can be used for any type of input

Enter the stringHardcoded codes doesnt serve the purpose of coding
dedocdraH sedoc tnseod evres eht esoprup fo gnidoc

In [92]:
# write a code which takes a string containing multiple words as input and prints a string with each words reversed


a='Ashish Tikariha'
b=a.split()
c=[]
for i in b:
    rev=i[::-1]
    c.append(rev)
ans=c[0]+' '+c[1]
print(ans)
    
    
# This is hardcoded, wont work when string a contains more than two words

hsihsA ahirakiT

In [95]:
# write a code which takes a string containing multiple words as input and prints a string with each words reversed


a='Ashish Tikariha Kumar XXYYzz'
b=a.split()
c=[]
for i in b:
    rev=i[::-1]
    c.append(rev)
ans=' '.join(c)
print(ans)

# This is a general code and can be used for any type of input

hsihsA ahirakiT ramuK zzYYXX

## List comprehension : It allows quick constructon of list.   
## It uses for loop inside its syntax with a bit changed syntax

In [100]:
a=[i**2 for i in range(6)]             #[<exp> for <var> in <iterable>]
print(a)

[0, 1, 4, 9, 16, 25]

In [101]:
a='Ashish'
b=[i for i in a]             # [<body> for <var> in <iterable>]
print(b)

['A', 's', 'h', 'i', 's', 'h']

In [102]:
a='afsan khan football barcelona messi'       # To print first letter of each word inside a list
b=a.split()
c=[i[0] for i in b]
print(c)

['a', 'k', 'f', 'b', 'm']